<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level[%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>

<!--    &lt;!&ndash; Configure the Sentry appender, overriding the logging threshold to the WARN level &ndash;&gt;-->
<!--    <appender name="Sentry" class="io.sentry.logback.SentryAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>WARN</level>-->
<!--        </filter>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--        <appender-ref ref="Sentry" />-->
<!--    </root>-->
    <logger name="net.dv8tion.jda" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.ktor.sessions" level="INFO"/>
    <logger name="net.dv8tion.jda.internal.requests.WebSocketClient" level="ERROR"/>
</configuration>
